extend layout

block content
  .row
    .medium-8.medium-centered.columns
      .panel
        h2.error Error!
        p.
          An unknown error has occured. You can click the button below to try again 
          or if the problem persists, please contact us.
      a(href='/start', class='button expand large') Try Again