extends layout

block content
  .row
    .medium-8.medium-centered.columns
      .panel
        h1 Finished
        p.
          Thank you for participating in this study. You are finished with this
          research.