extend layout

block content
  .row
    .medium-8.medium-centered.columns
      .panel#consent
        hgroup.text-center
          h6 RESEARCH PARTICIPANT CONSENT FORM
          h6 Personality & Social Media, Sona Number 524
          h6 Dr. Louis Tay
          h6 Purdue University
          h6 Department of Psychological Sciences
        section
          h6 Purpose of Research
          p.
            The purpose of this study is to understand how personality influences 
            social media behaviors.
        section
          h6 Specific Procedures
          p.
            You have received this survey link because you signed up for this study 
            on the SONA system. On the following pages, you will be asked to log in 
            using your Facebook user name and password and answer a set of questions. 
            Your participation in this project is voluntary. If you feel uncomfortable 
            at any point or if you wish to remove yourself from the study for any other 
            reason, you are free to do so. You will receive one research credit no 
            later than five days after completing the survey.
          p.
            After you provide your Facebook user name and password, an application we 
            have created will collect data from your Facebook page. During this time, 
            you will be asked to complete a set of surveys. The information collected 
            from Facebook includes the following information from the previous year 
            of Facebook activity: the user ID (a number Facebook assigns to your account) 
            the text of your status updates, the time each status was posted, likes you 
            have given and received, the text and time of comments you have posted and 
            received, the user ID of people who have posted or commented on your wall, 
            your relationship status, gender, birthday, religious views, political views, 
            and # of friends. We will not collect any images, private messages, or 
            information about education history, family relationships, and work history.
        section
          h6 Duration of Participation
          p.
            Participation will last no more than thirty minutes.
        section
          h6 Risks
          p.
            The risks associated with this study are no greater than that experienced 
            in everyday activities. You have the right to refuse to answer any questions 
            that make you feel uncomfortable. Because a breach of confidentiality is 
            sometimes a concern in this type of research, procedures for minimizing 
            this risk are described in the confidentiality section.
        section
          h6 Benefits
          p.
            There are no direct benefits associated with participating in this research. 
            Through this study, you may come to a better understanding of yourself by 
            reflecting on your experiences.
        section
          h6 Confidentiality
          p.
            The project's research records may be reviewed by departments at Purdue University 
            responsible for regulatory and research oversight. Otherwise, your responses will 
            be available solely to the researchers and research assistants. We will take steps 
            to ensure the data we collect from your Facebook page is anonymous and confidential. 
            Specifically, your name or user ID will not be stored in the data exported from Facebook. 
            When your Facebook data is collected, <strong>your user ID (and the user ID of any friends 
            who interact with you on Facebook) will be replaced with an anonymous code before 
            they are saved. Any names tagged in any of the data collected will be replaced 
            with an anonymous code before it is saved.</strong> 
          p.
            At the end of the survey, you will be given a link to a separate survey where 
            you indicate you name and Purdue email so that you can be given credit for 
            participation. This file will not be connected in any way to the rest of the 
            your responses. It will be stored in a separate file on the system and will 
            be destroyed once data collection is complete and all participants have been 
            given credit. Anonymized data will be stored on the researchers’ and research 
            assistants’ password-protected computers.
        section
          h6 Voluntary Nature of Participation
          p.
            You do not have to participate in this research project. If you agree to 
            participate you can withdraw your participation at any time without penalty.
        section
          h6 Contact Information
          p.
            If you have any questions about this research project, you can contact 
            Louis Tay at <a href='mailto:stay@purdue.edu'>stay@purdue.edu</a> or 
            Lauren Kuykendall at <a href='mailto:lgasque@purdue.edu'>lgasque@purdue.edu</a>.
            If you have concerns about the treatment of research participants, you can 
            contact the Institutional Review Board at Purdue University, Ernest C. 
            Young Hall, Room 1032, 155 S. Grant St., West Lafayette, IN 47907-2114. 
            The phone number for the Board is (765) 494-5942. The email address is 
            <a href='mailto:irb@purdue.edu'>irb@purdue.edu</a>.
        section
          h6 Documentation of Informed Consent
          p.
            I have had the opportunity to read this consent form and have the research 
            study explained.  I have had the opportunity to ask questions about the 
            research project and my questions have been answered.
        
        p Please indicate your consent by clicking the statement below.
        
        div
          label
            input(type='checkbox', name='agree')
            | I HAVE HAD THE OPPORTUNITY TO READ THIS CONSENT FORM, ASK QUESTIONS 
            | ABOUT THE RESEARCH PROJECT AND AM PREPARED TO PARTICIPATE IN THIS PROJECT.
        hr
        p.text-right To print this form, right click on your mouse and choose print.
      a(href='/auth/facebook', class='button expand large disabled' data-agree) Agree &amp; Participate