doctype html
html.no-js(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel="stylesheet" href="css/app.css")
    if styleSheets
      each style in styleSheets
        link(rel="stylesheet", href="#{style}")
    script(src="../js/modernizr.js")
  body
    
    block content
    
    script(src="../js/jquery.min.js")
    script(src="../js/foundation.min.js")
    if incSocketIO
      script(src='socket.io/socket.io.js')
      script
        | window.onbeforeunload = function() {
        |   return "Your data is still being process, please stay on the page to avoid problems";
        | };
    if mineStart
      script
        | var s = io.connect();
        | $("#ss").click(function() {
        |   s.emit('start', { uid: '#{datas.hash}', token: '#{datas.token}' });
        |   $(".center").empty().append("<h1>Please Wait</h1><img src='img/loading.gif' />");
        |   $(".hide").removeClass("hide");
        |   $("title").text('Please Wait');
        |   s.on('data', function(data) {
        |     console.log(data);
        |   });
        |   s.on('close', function(data) {
        |     if (data.status == 'success') {
        |       s.emit('minerFinish', { uid: '#{datas.hash}' });
        |       s.on('surveyFinish', function(data) {
        |         var uid = data.uid;
        |         console.log(data);
        |         if (uid == '#{datas.hash}') {
        |           window.onbeforeunload = null;
        |           window.location.assign('/success');
        |         }
        |       });
        |     }
        |     else {
        |       window.onbeforeunload = null;
        |       window.location.assign('/error');
        |     }
        |   });
        | });
    if restartMiner
      script
        | var s = io.connect();
        | $("#sm").click(function() {
        |   s.emit('restartMine', { uid: '#{datas.hash}', token: '#{datas.token}' });
        |   $(".center").empty().append("<h1>Please Wait</h1><img src='img/loading.gif' />");
        |   $(".hide").removeClass("hide");
        |   $("title").text("Please Wait");
        |   s.on("close", function(data) {
        |     if (data.status == 'success') {
        |       s.emit('minerFinish', { uid: '#{datas.hash}' });
        |       s.emit('isComplete', { uid: '#{datas.hash}', id: '#{user.id}' });
        |       s.on('status', function(data) {
        |         if (data.completed) {
        |           window.onbeforeunload = null;
        |           window.location.assign('/success');
        |         }
        |       });
        |     }
        |   });
        | });
    if surveyFinish
      script
        | var s = io.connect();
        | s.emit('surveyFinished', { uid: '#{datas.uid}' });
        | function isDone(s) {
        |   s.emit('isComplete', { uid: '#{datas.uid}', id: '#{user.id}' });
        |   s.on('status', function(data) {
        |     if (data.completed) {
        |       window.onbeforeunload = null;
        |       window.open('', '_self', ''); window.close();
        |     }
        |   });
        | }
        | isDone(s);
        | 
        | setInterval(function() {
        |   isDone(s);
        | }, 1000);
    script(src="js/app.js")