extends layout

block content
  
  
  h4.warn.top.hide
    i.warning-icon
    | Do not close this window
    i.warning-icon
  
  .center
    p.
      Our records indicate that you have already taken the survey, but there was
      an error saving your data. Please click start below to re-try saving your 
      data.
      
    h2
      a(id='sm') Start
      
  h4.warn.bottom.hide
    i.warning-icon
    | Do not close this window
    i.warning-icon