extend layout

block content
  .row
    .medium-8.medium-centered.columns
      .panel
        h2 Results
        ol
          each result in results
            li
              a(href='/results/#{result.Key}', parent="_blank") #{result.Key}