extend layout

block content
  
  h4.warn.top.hide
    i.warning-icon
    | Do not close this window
    i.warning-icon
    
  .center
    h2
      a(href='/survey', target='_blank', id='ss') Start Survey
  
  h4.warn.bottom.hide
    i.warning-icon
    | Do not close this window
    i.warning-icon