extend layout

block content
  .row
    .medium-8.medium-centered.columns
      .panel
        h1 Success
        p.
          Thank you for participating in our research. You may now click on the
          link at the bottom of the page to securely finish participating.
        hr
        h4 Debriefing for Experiment 524: Personality & Social Media
        ol#done
          li
            | What is the general aim of this research?
            p.
              The emergence of social media site such as Facebook affords new 
              opportunities for understanding well-being. In the current study, 
              we seek to examine whether social media behaviors (e.g., status 
              updates, “likes”) are associated with aspects of personality and 
              well-being. We expect to find that certain Facebook behaviors 
              (e.g., number of comments or likes on a user’s status) relate to 
              aspects of the user’s personality (e.g., extraversion, emotional 
              stability) and well-being (e.g., happiness with relationships).
          li
            | Is this correlational or experimental research?
            p.
              Correlational. For instance, we will examine the correlation 
              between extraversion and the number of status updates people post.
          li
            | What topic in introductory psychology does this research illustrate?
            p.
              This research illustrates issues related to personality and 
              well-being.<br/><br/>
              You can read more about personality (p.375-380) 
              and emotions (p. 359-365) – an important aspect of 
              well-being – in Nairne, J.S. (2009). Psychology (6th edition).
          li
            | Where can I learn more about this type of research?
            p.
              Students can refer to Chapters 11 and 12 in Nairne, J. S. (2003). 
              Psychology: The Adaptive Mind (6th Edition). Belmont, CA: Wadsworth.<br/><br/>
              You can also refer to these articles in professional journals:<br/><br/>
              Diener, E., Suh, E. M., Lucas, R. E., & Smith, H. L. (1999). Subjective 
              well-being: Three decades of progress. <i>Psychological Bulletin, 125,</i> 276-302.<br/><br/>
              Goldberg, L. R., Hofstee, W., K. B., & Raad, B. d. (1992). Integration 
              of the Big Five and circumplex approaches to trait structure. 
              <i>Journal of Personality and Social Psychology, 63,</i> 146-163.
          li
            | Which faculty member is supervising this research and how can I contact her/him?
            p.
              Dr. Louis Tay, an assistant professor in Industrial & Organizational 
              psychology, is supervising this research. You may reach him at 
              <a href='mailto:stay@purdue.edu'>stay@purdue.edu</a>.
          li
            | How long has the investigator been studying this specific topic and how 
            | does this experiment fit into the investigator's program of research?
            p.
              Dr. Tay has been studying predictors of well-being for over five years. 
              He is interested in novel ways of measuring predictors of well-being 
              and is excited to have the opportunity to use data from social media 
              to understand well-being.
        div
          p.
            A lot of research in psychology depends on the participation of 
            individuals like yourself. We're very grateful for your help. 
            Thank you very much for participating.
      a(href='/deauth', class='button expand large') Finish