extends layout

block content
  .row
    .medium-10.medium-centered.columns
      .panel
        form(method='post').clearfix
          input(type='hidden', name='_csrf', value=token)
          for question in questions
            if (question.QuestionType == 'DB')
              .instruction
                h4!= question.QuestionText
                hr
            if (question.QuestionType == 'MC')
              .question(class=question.noRow?'nr':undefined)
                h6.question-text #{question.QuestionText}
                .choice-holder
                  .choices(class=question.display?undefined:'horz')
                    for choice in question.choices
                      .choice(class=question.even?'even':undefined)
                        label
                          if (question.display)
                            input(type='radio', name='#{question.QuestionID}', value='#{choice}')
                            .text!= choice
                          else
                            .text!= choice
                            input(type='radio', name='#{question.QuestionID}', value='#{choice}')
            if (question.QuestionType == 'TE')
              .question
                h6 #{question.QuestionText}
                input(type='text', name='#{question.QuestionID}')
          input(type='submit', class='button small right', value='Next')