extends layout

block content

  h4.warn.top
    i.warning-icon
    | Do not close this window
    i.warning-icon
  
  .center
    h1 Please Wait
    img(src='img/loading.gif')
    
  h4.warn.bottom
    i.warning-icon
    | Do not close this window
    i.warning-icon